* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.ocultar {
  display: none; }

header nav {
  display: grid;
  grid-template-areas: "logo logo carito carrito" "buscador buscador buscador buscador";
  justify-content: space-around;
  padding: 5px 0;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 100;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); }
  header nav .logo {
    grid-area: logo; }
    header nav .logo img {
      width: 70px;
      height: 60px;
      padding-bottom: 5px; }
  header nav .buscador {
    grid-area: buscador;
    display: flex;
    justify-content: center; }
    header nav .buscador input {
      width: 100%; }
    header nav .buscador button img {
      width: 30px;
      height: 20px; }
  header nav .btn-carrito {
    grid-area: carrito; }
    header nav .btn-carrito button img {
      width: 40px;
      height: 40px; }

main {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px; }
  main .carrito-de-compras {
    text-align: center;
    width: 95%;
    background-color: white;
    height: 600px;
    position: fixed;
    top: 20px;
    z-index: 1000;
    border: 2px solid black;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); }
    main .carrito-de-compras #tarjetas-carrito {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 460px;
      overflow-y: scroll; }
      main .carrito-de-compras #tarjetas-carrito .productos-carrito {
        display: grid;
        grid-template-areas: "img h2" "img p" "img p" "img p";
        align-items: center;
        padding: 10px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); }
        main .carrito-de-compras #tarjetas-carrito .productos-carrito img {
          grid-area: img;
          width: 15vh;
          height: 15vh; }
        main .carrito-de-compras #tarjetas-carrito .productos-carrito h2 {
          grid-area: h2;
          font-size: 1rem; }
        main .carrito-de-compras #tarjetas-carrito .productos-carrito p {
          font-size: .6rem; }
    main .carrito-de-compras #total-del-carrito h2 {
      font-size: 1rem; }
    main .carrito-de-compras .botones-carrito {
      display: flex;
      gap: 1rem;
      padding: 5px;
      align-items: center;
      justify-content: space-around; }
      main .carrito-de-compras .botones-carrito button {
        border-radius: 5%;
        background-color: #2A2276;
        color: white; }
  main .carrusel {
    padding: 20px 30px; }
    main .carrusel img {
      height: 13rem; }
  main .medios-de-pago {
    display: flex;
    padding: 0px 40px; }
    main .medios-de-pago .linea {
      background-color: black;
      width: 0.5px; }
    main .medios-de-pago div {
      display: flex;
      gap: 0.5rem;
      width: 49%;
      align-items: center; }
      main .medios-de-pago div p {
        font-size: 0.8rem; }
      main .medios-de-pago div img {
        width: 7vh;
        height: 7vh; }
  main .categorias {
    background-color: white;
    display: flex;
    gap: 1rem;
    padding: 10px 40px;
    justify-content: space-between; }
    main .categorias .categorias-tarjeta {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: #F5F5F5;
      width: 5rem;
      height: 7rem;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
      padding-top: 10px;
      border-radius: 5%; }
      main .categorias .categorias-tarjeta img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 5%; }
      main .categorias .categorias-tarjeta p {
        font-size: .8rem; }
  main .productos .productos-titulo {
    text-align: center;
    color: white;
    background: linear-gradient(to bottom right, #FF0092, #A21F67); }
  main .productos .productos-tarjetas {
    display: flex;
    padding: 0 10px;
    gap: .5rem; }
    main .productos .productos-tarjetas .filtros {
      display: flex;
      flex-direction: column; }
      main .productos .productos-tarjetas .filtros .filtros-botones {
        display: flex;
        flex-direction: column;
        gap: .5rem; }
        main .productos .productos-tarjetas .filtros .filtros-botones button {
          border: 2px solid #2A2276;
          color: #2A2276;
          transition: .5s; }
        main .productos .productos-tarjetas .filtros .filtros-botones button:hover {
          border: 2px solid black;
          color: white;
          background-color: #2A2276;
          transition: .5s; }
    main .productos .productos-tarjetas #tarjetas {
      display: flex;
      flex-direction: column;
      padding: 10px 10px;
      gap: 1rem;
      height: 510px;
      overflow-y: scroll; }
      main .productos .productos-tarjetas #tarjetas .tarjeta-producto {
        display: grid;
        grid-template-areas: "img h2" "img p" "img button";
        text-align: center;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        border-radius: 5%;
        padding: 10px 10px;
        align-items: center;
        justify-content: space-between; }
        main .productos .productos-tarjetas #tarjetas .tarjeta-producto img {
          width: 15vh;
          height: 15vh;
          grid-area: img;
          padding-right: 10px;
          object-fit: contain; }
        main .productos .productos-tarjetas #tarjetas .tarjeta-producto h2 {
          grid-area: h2;
          font-size: .8rem; }
        main .productos .productos-tarjetas #tarjetas .tarjeta-producto p {
          grid-area: p;
          font-size: .8rem; }
        main .productos .productos-tarjetas #tarjetas .tarjeta-producto button {
          grid-area: button;
          border-radius: 5%;
          font-size: .7rem;
          color: green;
          border: 2px solid #00ad00; }
        main .productos .productos-tarjetas #tarjetas .tarjeta-producto button:hover {
          background: linear-gradient(to bottom right, #00f155, #208041);
          color: black; }
    main .productos .productos-tarjetas #tarjetas::-webkit-scrollbar {
      background-color: #D7D7D7;
      border-radius: 20px;
      border: 2px solid #A21F67;
      width: 10px; }
    main .productos .productos-tarjetas #tarjetas::-webkit-scrollbar-thumb {
      background-color: #757474;
      border-radius: 20%; }

footer {
  background-color: white;
  display: flex;
  flex-direction: column; }
  footer .contacto {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 10px 30px;
    border-top: 1px solid #a3a3a3; }
    footer .contacto .empresa img {
      width: 15vh; }
  footer .copyright {
    border-top: 1px solid #a3a3a3;
    font-size: .8rem;
    text-align: center; }

@media screen and (min-width: 600px) {
  main .carrusel {
    padding: 20px 10px; }
    main .carrusel img {
      width: 360px;
      height: 360px;
      object-fit: cover; }
  main .medios-de-pago {
    width: 100%; }
    main .medios-de-pago div {
      justify-content: center;
      text-align: center; }
    main .medios-de-pago div:nth-child(1) {
      justify-content: center; }
  main .categorias {
    justify-content: space-around;
    width: 100%; }
    main .categorias .categorias-tarjeta {
      width: 15rem;
      height: 15rem; }
      main .categorias .categorias-tarjeta img {
        width: 25vh;
        height: 30vh;
        object-fit: cover;
        border-radius: 5%; }
      main .categorias .categorias-tarjeta p {
        font-size: 1.5rem; }
  main .productos {
    width: 100%;
    align-items: center;
    padding: 0 20px; }
    main .productos .productos-tarjetas {
      justify-content: space-between; }
      main .productos .productos-tarjetas .filtros {
        width: 50%; }
        main .productos .productos-tarjetas .filtros .filtros-botones {
          width: 160px; }
      main .productos .productos-tarjetas #tarjetas {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; }
        main .productos .productos-tarjetas #tarjetas .tarjeta-producto {
          display: flex;
          flex-direction: column;
          width: 150px; }
          main .productos .productos-tarjetas #tarjetas .tarjeta-producto img {
            width: 15vh;
            height: 20vh; } }

@media screen and (min-width: 1024px) {
  header nav {
    grid-template-areas: "logo buscador buscador carrito"; }
    header nav .buscador {
      padding-top: 10px; }
      header nav .buscador input {
        height: 40px;
        width: 600px; }
      header nav .buscador button {
        height: 40px; }
    header nav .btn-carrito {
      padding-top: 7px; }
  main .carrito-de-compras #tarjetas-carrito {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
    main .carrito-de-compras #tarjetas-carrito .productos-carrito {
      width: 250px;
      height: 200px; }
  footer .contacto {
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between; } }
