*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 600px){
    header{
        nav{
            display: grid;
            grid-template-areas: 
                "logo logo carito carrito"
                "buscador buscador buscador buscador"
            ;
            justify-content: space-around;
            padding-top: 10px;
            .logo{
                grid-area: logo;
                img{
                    width: 70px;
                    height: 60px;
                }
            }
            .buscador{
                grid-area: buscador;
                display: flex;
                justify-content: center;
                input{
                    width: 100%;
                }
                button{
                    img{
                        width: 30px;
                        height: 20px;
                    }
                }
            }
            .btn-carrito{
                grid-area: carrito;
                button{
                    img{
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
    main{
        background-color: #F5F5F5;
        .carrusel{
            padding: 20px 30px;
            img{
                height: 13rem;
            }
        }
        .medios-de-pago{
            display: flex;
            padding: 0px 40px;
            .linea{
                background-color: black;
                width: 0.5px;
            }
            div{
                display: flex;
                gap: 0.5rem;
                width: 49%;
                align-items: center;
                p{
                    font-size: 0.8rem;
                }
                img{
                    width: 7vh;
                    height: 7vh;
                }
            }
        }
        .categorias{
            background-color: white;
            display: flex;
            gap: 1rem;
            padding: 10px 40px;
            justify-content: space-between;
            .categorias-tarjeta{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                background-color: #F5F5F5;
                width: 5rem;
                height: 7rem;
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
                padding-top: 10px;
                border-radius: 5%;
                img{
                    width: 60px;
                    height: 60px;
                    object-fit: cover;
                    border-radius: 5%;
                }
                p{
                    font-size: .8rem;
                }
            }
        }
        .productos{
            .productos-titulo{
                text-align: center;
                color: white;
                background: linear-gradient(to bottom right, #FF0092, #A21F67);
            }
            .productos-tarjetas{
                display: flex;
                padding: 0 10px;
                gap: .5rem;
                .filtros{
                    display: flex;
                    flex-direction: column;
                    .filtros-botones{
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                    }
                }
                #tarjetas{
                    display: flex;
                    flex-direction: column;
                    padding: 10px 10px;
                    gap: 1rem;
                    height: 510px;
                    overflow-y: scroll;
                    .tarjeta-producto{
                        display: grid;
                        grid-template-areas: 
                            "img h2"
                            "img p"
                            "img button"
                        ;
                        text-align: center;
                        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
                        border-radius: 5%;
                        padding: 10px 10px;
                        align-items: center;
                        justify-content: center;
                        img{
                            width: 25vh;
                            height: 25vh;
                            grid-area: img;
                            padding-right: 10px;
                        }
                        h2{
                            grid-area: h2;
                        }
                        p{
                            grid-area: p;
                        }
                        button{
                            grid-area: button;
                            border-radius: 5%;
                            width: 160px;
                        }
                    }
                }
                #tarjetas::-webkit-scrollbar{
                    background-color: #e01b8b;
                    border-radius: 20px;
                    border: 2px solid #A21F67;
                    width: 10px;
                }
                #tarjetas::-webkit-scrollbar-thumb{
                    background-color: #9e0a5e;
                    border-radius: 20%;
                }
            }
        }
    }  
}



